{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
	<h3>Topics of interest</h3>
	<p>
	I'm interested in a broad range of computer graphics topics. Right now I'm fond of <b>procedural synthesis</b> on GPU (with a preference for terrains/landscapes). I also realy like <b>image processing</b> and <b>computer vision</b>. 
	Outside of computer graphics I really lve <b>game development</b> !
	</p>
	<p>
	I'm also interested in machine learning, security and a bit of network/system administration is fine ! 
	</p>
	<h3>My prefered programming languages:</h3>
	<ul>
		<li>C++</li>
		<li>Python</li>
		<li>C</li>
		<li>Java</li>
		<li>C# scripting</li>
	</ul>

	<h3>The articles below are about my most interesting projects</h3>

	<!-- custom part
	<div class="skill-list">
		<table style="width:60%;margin-left:20%;margin-right:20%">
			<tr>
				<th>
					<span style="width:100px;height:1em;border:1px solid grey;display:inline-block"><span style="display:inline-block;background-color:black;width:90px"></span></span>
				</th>
				<th>
					<span style="width:100px;height:1em;border:1px solid grey;float:right"></span>
				</th>
				<th>
					<span style="width:100px;height:1em;border:1px solid grey;float:right"></span>
				</th>
			</tr>
			<tr>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</table>
	</div>

	<div class="project-list">
	</div>
	 end of custom part -->

        <div class="posts-list">
          {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
          {{ range $pag.Pages }}
            <article class="post-preview">
              <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle">
                  {{ .Params.subtitle }}
                  </h3>
                {{ end }}
                {{ if .Params.image }}
                <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-title" />
                {{ end }}
                {{ if .Params.video }}
                <video src="{{ .Params.video }}" loop autoplay muted playsinline class="img-title" />
                {{ end }}
              </a>

              {{ partial "post_meta.html" . }}
              <div class="post-entry">
                {{ if .Truncated }}
                  {{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}
                  <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
                {{ else }}
                  {{ .Content }}
                {{ end }}
              </div>

              {{ if .Params.tags }}
                <div class="blog-tags">
                  {{ range .Params.tags }}
                    <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
                  {{ end }}
                </div>
              {{ end }}
            </article>
          {{ end }}
        </div>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
